/*Primeira parte referes-se ao header e footer*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0; 
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
  font-family: 'Montserrat', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

.conteudo {
  display: block;
  text-align: center;
  font-weight: bold;
   /*font-size: 40px;*/ 
}

iframe {
    border: 2px solid black;
    padding: 10px;
    background-color: #f2f2f2;
  }


 .btn_quero_doar{  
    margin: auto;
    font-size: 65px;
    padding: 5px;
    border-radius: 10px;
    background-color: #005000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    text-align: center; 
    padding: 0;
    width: 650px;
    text-decoration: none !important;
}

 .texto_colabora{
    align-items: center;
    align-self: center;
    text-align: center;
    margin-left: 2%;
    font-size: 28px;
    margin-bottom: 1%;
} 


.content{
  display: flex;
  margin-bottom: 1%;
}

.column-one {
  margin-top: 30px;
  flex: 1;
  text-align: justify;
  padding-left: 10%;
  padding-right: 2%;
}

.column-two {
  margin-top: 30px;
  flex: 1;
  text-align: justify;
  padding-left: 2%;
  padding-right: 2%;
}

.column-three {
  margin-top: 30px;
  flex: 1;
  text-align: justify;
  padding-left: 2%;
  padding-right: 10%;
}

.title-usuario {
  font-size: 30px;
  margin-bottom: 1%;
  font-weight: bolder;
}


