
<link rel="stylesheet" href="../static/css_header/style.css">

<div class="row-header">
    <header class="main-header">
        <img class="logo" src="../static/assets/fome.jpeg" alt="">
        <div class="container-menu">
        <nav class="main-header__menu">
            <ul>
            <li>
                <a href="{% url 'home-usuario' %}" class="nav-link">Home</a>
            </li>
            <li>
                <a href="{% url 'instituicoes' %}" class="nav-link">Instituições</a>
            </li>
            <li>
                <a href="{% url 'cadastro-instituicao' %}" class="nav-link">Cadastro</a>
            </li>
            <li>
                <a href="#sobre" class="nav-link">Sobre nós</a>
            </li>
            <li>
                <a href="#contato" class="nav-link">Contato</a>
            </li>
            </ul>
        </nav>
        </div>
    </header>
</div>

