{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css_login/style-login.css' %}">
  <title>Login</title>

</head>

<body>
  {% include "./header.html" %}
  <div class="conteudo">
    
    <div class="login-box">
      <h2>Login</h2>
      <form action=" {% url 'login' %} " method="POST">{% csrf_token %}
        <div class="user-box">
          <input type="text" name="username" id="username" required="">
          <label for="username">Usuario</label>
        </div>
        <div class="user-box">
          <input type="password" name="password" id="password" required="">
          <label for="password">Senha</label>        
        </div>
        <div>
          <p class="cadastrar">Ainda não tem cadastro click <a href=" {% url 'cadastro-instituicao' %} ">aqui</a>!</p>
        </div>
        <button class="login-box-enviar" onclick="login()">Enviar</button>
      </form>
    </div>
    
  </div>
  {% include "./footer.html" %}

</body>

</html>