<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css_lp_instituicao/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <title>Bem-vindo</title>

</head>

<body>
  <div class="row-header">
    <header class="main-header">
      <h1 class="main-header__title">
        <img class="logo" src="../static/assets/logo.jpg" alt="">
      </h1>
      <div class="container-menu">
        <nav class="main-header__menu">
          <ul>
            <li>
              <a href="#home" class="nav-link">Home</a>
            </li>
            <li>
              <a href="#instituicoes" class="nav-link">Instituições</a>
            </li>
            <li>
              <a href="#cadastro" class="nav-link">Cadastro</a>
            </li>
            <li>
              <a href="#sobre" class="nav-link">Sobre nós</a>
            </li>
            <li>
              <a href="#contato" class="nav-link">Contato</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
  </div>
  <div class="conteudo">
    <div class="conteudoinicial">
      <h1 class="titleh1 ">Ajude-nos a alimentar aqueles que mais precisam: participe do nosso projeto social agora!
      </h1>
      <section>
        <div><button class="btn btn-warning" href="#">SE ASSOCIE, JUNTOS SOMOS A
            ESPERANÇA</button></div>
      </section>
    </div>

    <br class="mbtext">
    <br class="mbtext">

    <div>
      <h1 class="titleshort">Alimentação básica para aqueles que mais precisam!</h1>
    </div>
    <br class="mbtext">

    <div class="container-cards">
    <div class="card">
      <div class="card-header">
        <img src="../static/assets/aperto_mao.png" alt="Solidariedade">
      </div>
      <div class="card-body">
        <p>Nós acreditamos que todos merecem uma refeição nutritiva e acessível. É por isso que
          estamos buscando o apoio de instituições que
          desejam se juntar a nós nessa causa tão importante.</p>
      </div>
      <div class="card-footer">
        <a href="#">ASSOCIE-SE</a>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <img src="../static/assets/cesta_brasil.png" alt="Solidariedade">
      </div>
      <div class="card-body">
        <p>Nosso projeto funciona através de doações de alimentos e recursos financeiros. Com o apoio
          de instituições, conseguimos alcançar mais pessoas e oferecer uma alimentação digna e saudável.
          Ao participar do nosso projeto, as instituições estarão ajudando a transformar a vida de muitas
          pessoas em nosso país.</p>
      </div>
      <div class="card-footer">
        <a href="#">ASSOCIE-SE</a>
      </div>
    </div>

  </div>

  <br class="mbtext">
  <br class="mbtext">
  <br class="mbtext">

  <div class="clear-both">
    <div class="paragraph-container">
      <p class="paragraph">Nosso projeto tem como objetivo fornecer refeições básicas para pessoas em <strong>situação de
        vulnerabilidade social.</strong>
        Além disso, nossas ações têm como meta conscientizar a sociedade sobre a importância de fornecer acesso à
        alimentação básica para todos. Desde o início do projeto, já conseguimos distribuir <strong>mais de 10.000 cestas e
        esperamos continuar ampliando nosso impacto.</p></strong>
    </div>
  </div>
  <br class="mbtext">
  <div>
    <img src="../static/assets/cesta_doacao.png" alt="">
  </div>

  </div>

  <br class="mbtext">

  <div class="row-footer">
    <footer class="footer">
      <div class="footer__container">
        <section>
          <h2 class="footer__title">Grupo 3</h2>
          <p class="footer__about-text">
          <ol>
            <li>Daniel França</li>
            <li>Douglas Hugo</li>
            <li>Felipe Vieira</li>
            <li>Kleivert Alves</li>
            <li>Luca Willian Beteghella</li>
          </ol>
          </p>
        </section>
        <address>
          <h2 class="footer__title">Contato</h2>
          <ul>
            <li><i class="fa-brands fa-github"></i> <a href="https://github.com/danielfransa">danielfransa</a></li>
            <li><i class="fa-brands fa-github"></i> <a href="https://github.com/douglashugo">douglashugo</a></li>
            <li><i class="fa-brands fa-github"></i> <a href="https://github.com/Felipe-Vieira-03">Felipe-Vieira-03</a>
            </li>
            <li><i class="fa-brands fa-github"></i> <a href="https://github.com/Klayvert2003">Klayvert2003</a></li>
            <li><i class="fa-brands fa-github"></i> <a href="https://github.com/lucabeteghella">lucabeteghella</a>
            </li>
          </ul>
        </address>
      </div>
      <section class="footer__copyright">
        &copy; Todos os direitos reservados
      </section>
    </footer>
  </div>

</body>
<script src="https://kit.fontawesome.com/e38dd2664d.js" crossorigin="anonymous"></script>

</html>