@import url("../css_header_footer/style.css");

.footer {
  background-color: #005000;        
  color: #91E191;;
  font-size: 16px;
}

.footer__container {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  padding: 10px;
}

.footer__copyright {
  text-align: center;
  margin-top: 8px;
  background-color: #bbffbb;    
  font-weight: bold;
  padding: 8px;
  color: gray;
}

.footer__title {
  font-size: 22px;
  font-weight: bold;
  color: #91E191;
  margin-bottom: 5px;
}

.footer__about-text {
  width: 400px;
  text-align: justify;
}

.footer i {
  color: #91E191;
}

.footer a {
  color: #91E191;
}

.footer a:visited {
  color: #fff;
}
.footer li {
  margin: 10px 0;
}

ol, ul {
list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conteudo {
  margin: 20px;
  display: flex;
  align-items: center;
}

body {
  background: #fff;
  font-family: sans-serif;
}

.login-box {
  width: 320px;
  height: 420px;
  border: solid;
  /*background: #91E191;*/
  color: #005000;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  border-radius: 10px;
  padding: 30px 30px;
}

h2 {
  margin: 0;
  padding: 0 0 30px;
  text-align: center;
  font-size: 22px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
  /*padding: 20px 0 0 0;*/
  border: none;
  border-bottom: 1px solid #005000;
  background: transparent;
  outline: none;
  height: 40px;
  color: #005000;
  font-size: 16px;
}

.login-box input[type="text"]:focus,
.login-box input[type="password"]:focus {
  border-bottom: 2px solid #003800;
}

.user-box {
  position: relative;
  margin: 38px 0;
}

.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #005000;
  pointer-events: none;
  transition: 0.5s;
}

.user-box input[type="text"]:focus ~ label,
.user-box input[type="password"]:focus ~ label,
.user-box input[type="text"]:valid ~ label,
.user-box input[type="password"]:valid ~ label {
  top: -20px;
  left: 0;
  color: #005000;
  font-size: 12px;
}

.login-box-enviar {
  display: inline-block;
  background: #0e01c5;
  color: #fff;
  border: none;
  width: 100%;
  padding: 15px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  text-decoration: none;
}

.login-box-enviar:hover {
  background: #024702;
  color: #91e191;
}

.cadastrar {
  margin: 20px 0 5px 0;
  padding: 0 0 20px;
  text-align: center;
  display: inline-block;
  font-size: small;
  
}