/*Primeira parte referes-se ao header e footer*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0; 
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

.row-header {
  position: sticky;
}
.main-header {
  /*background-color: #91E191;   */ 
  font-family: 'Montserrat', sans-serif;
  padding: 10px 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  min-height: 20vh;
  width: calc(100%)
  
}

.main-header__title {    
    font-size: 80px;
    letter-spacing: -1.5px;
    color: white;    
}

.main-header__title-greem-color {
    color: #91E191;
    font-size:70px;
}

.main-header__title-red-color {
  color: #E60000;
  font-size:70px;
}

.main-header__title--color {
  color: #005000;
  font-size:70px;
}

.main-header__menu ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
}

.main-header__menu a {
    padding: 10px 10px;
    color: #005000;
    font-weight: 400;
    font-size: 22px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.main-header__menu a:hover {
    background-color: #005000;;
    color: #fff;
}

.container-menu {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex: 1;
}

.logo {
  margin: 20px;
  width: 40vh;
  height: 20vh;
  justify-content: flex-end;
  padding-right: 10px;
}

ol, ul {
	list-style: none;
}

.footer {
  font-family: 'Montserrat', sans-serif;
  background-color: #005000;        
  color: #91E191;;
  font-size: 16px;
}

.footer__container {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  padding: 10px;
}

.footer__copyright {
  text-align: center;
  margin-top: 8px;
  background-color: #bbffbb;    
  font-weight: bold;
  padding: 8px;
  color: gray;
}

.footer__title {
  font-size: 22px;
  font-weight: bold;
  color: #91E191;
  margin-bottom: 5px;
}

.footer__about-text {
  width: 400px;
  text-align: justify;
}

.footer i {
  color: #91E191;
}

.footer a {
  color: #91E191;
}

.footer a:visited {
  color: #fff;
}
.footer li {
  margin: 10px 0;
}

ol, ul {
list-style: none;
}


