@import url("../css_header_footer/style.css");
		
		body {
			font-family: Arial, sans-serif;
            /*
            --- Background degradê ---
            background-image: linear-gradient(to right, rgb(4, 183, 70), rgb(230, 35, 17));*/
            
		}

		h1 {
			font-size: 30px;
            margin-top: 30px;
			text-align: center;
			margin-top: 50px;
            color: #005000;
		}
		
		table {
			border-collapse: collapse;
			margin: 0 auto;
			margin-top: 40px;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
		}

		th, td {
			padding: 10px;
            border: 2px solid #005000;
            border-right: 2px solid #005000;
		}

		th {
			background-color: #00500093;
			font-weight: bold;
		}

		tr:nth-child(even) {
			background-color: #dadada;
		}

		hr {
			border: 2px #005000bd solid;
		}

		nav li{
			display: inline-block;
		}

		nav ul {
			margin-top: -80px;
			padding: 0px;
			text-align: right;
			margin-right: 30px;
		}
		nav a {
			padding: 10px 10px;
			color: #005000;
			text-align: center;
			text-decoration: none;
			font-size: 23px;
			transition: all .3s ease-in-out;
		}

		nav a:hover {
			background-color: #005000;
			color: #fff;
		}