
.footer {
  margin-top: 75px;
  background-color: #005000;        
  color: #91E191;;
  font-size: 16px;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer__container {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  padding: 10px;
}

.footer__copyright {
  text-align: center;
  margin-top: 8px;
  background-color: #bbffbb;    
  font-weight: bold;
  padding: 8px;
  color: gray;
}

.footer__title {
  font-size: 22px;
  font-weight: bold;
  color: #91E191;
  margin-bottom: 5px;
}

.footer__about-text {
  width: 400px;
  text-align: justify;
}

.footer i {
  color: #91E191;
}

.footer a {
  color: #91E191;
}

.footer a:visited {
  color: #fff;
}
.footer li {
  margin: 10px 0;
}

ol, ul {
list-style: none;
}
