/* Estilos para o formulário de login */
form {
    background-color: #f4f817;
    border: 5px solid #000000;
    margin: 50px auto;
    padding: 20px;
    width: 300px;
    margin-top: 20px;
    border-radius: 15px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Estilos para os campos de entrada */
  .form-input {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #F5372A;;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 36px;
    color: #000000;
    margin-top: 0;
  }


  label { 
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  input[type="text"], input[type="email"], input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }

  button {
    display: block;
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
  }


  button.form-input {
    display: block;
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer {
  background-color: #F5372A;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
