/* Estilos para o formulário de login */
form {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    margin: 50px auto;
    padding: 20px;
    width: 300px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Estilos para os campos de entrada */
  .form-input {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
  }