@import url("../css_header_footer/style.css");

.footer {
  background-color: #005000;        
  color: #91E191;;
  font-size: 16px;
}

.footer__container {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  padding: 10px;
}

.footer__copyright {
  text-align: center;
  margin-top: 8px;
  background-color: #bbffbb;    
  font-weight: bold;
  padding: 8px;
  color: gray;
}

.footer__title {
  font-size: 22px;
  font-weight: bold;
  color: #91E191;
  margin-bottom: 5px;
}

.footer__about-text {
  width: 400px;
  text-align: justify;
}

.footer i {
  color: #91E191;
}

.footer a {
  color: #91E191;
}

.footer a:visited {
  color: #fff;
}
.footer li {
  margin: 10px 0;
}

ol, ul {
list-style: none;
 
}

/*daqui pra baixo é do formulario */
body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.row-form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  border: solid;
  width: 750px;
  margin: 20px;
  /*background-color: #91E191;*/
  padding: 20px;
  border-radius: 10px;
}

h1 {
  font-size: 32px;
  text-align: center;
  color: #005000;
  margin-bottom: 30px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  color: #005000;
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  font-size: 20px;
  padding: 10px 0 10px 0;
  border-radius: 5px;
  border: small black;
  margin-bottom: 20px;
  /*background-color: #F0F0F0;*/
}

input[type="submit"] {
  background-color: #005000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
