/*Primeira parte referes-se ao header e footer*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0; 
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
    font-family: 'Montserrat', sans-serif;
}
/* Estilo para a janela do mapa */
#map-container {
    border: 1px solid black;
    /* Define a borda */
    width: 80%;
    /* Define a largura */
    height: 400px;
    /* Define a altura */
    float: center;
    /* Coloca o container à direita */
    padding: 10px;
    /* Define o preenchimento interno */
}

h1 {
    font-size: 35px;
}

p   {
    font-size: 22px;
}

/* Estilo para o mapa */
#map {
    height: 100%;
}

.column {
    width: 50%;
    float: left;
}

.column-map {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    margin: 15px;
    margin-top: 50px;
    text-align: center;
    align-items: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}