@import url("../css_header_footer/style.css");

/*daqui pra baixo é do formulario */
body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.row-form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  border: solid;
  width: 750px;
  margin: 20px;
  /*background-color: #91E191;*/
  padding: 20px;
  border-radius: 10px;
}

h1 {
  font-size: 32px;
  text-align: center;
  color: #005000;
  margin-bottom: 30px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  color: #005000;
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  padding: 20px 0 0 0;
  border-radius: 5px;
  border: small black;
  margin-bottom: 20px;
  /*background-color: #F0F0F0;*/
}

input[type="submit"] {
  background-color: #005000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.row-cep {
  width: calc(30% - 10px);
  margin: 0 15px 0 0;
}

.row-rua {
  width: calc(50% - 10px);
  margin: 0 15px 0 0;
}

.row-numero {
  width: calc(20% - 10px);
  margin: 0 15px 0 0;
}

.row-bairro {
  width: calc(35% - 10px);
  margin: 0 15px 0 0;
}

.row-cidade {
  width: calc(35% - 10px);
  margin: 0 15px 0 0;
}

.row-complemento {
  width: calc(20% - 10px);
  margin: 0 15px 0 0;
}

.row-estado {
  width: calc(10% - 10px);
  margin: 0 15px 0 0;
}

.form-row {
  display: flex;
}
