{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css_cadastro_usuario/style-cadastro-usuario.css' %}">
  <title>Cadastro</title>

</head>

<body>
  {% include "./header.html" %}
  <div class="row-form">
    <div class="container">
      <h1>Cadastro</h1>
      <form action="{% url 'cadastro-usuario' %}" method="POST">{% csrf_token %}
        <div>
          <label for="nome-completo">Nome Completo:</label>
          <input type="text" id="nome-completo" name="nome-completo" required>
        </div>
        <div class="form-row">
          <div>
            <label for="cep">CEP:</label>
            <input type="text" id="cep" name="cep" required>
          </div>
          <div>
            <label for="num">Número:</label>
            <input type="text" id="num" name="num" required>
          </div>
        </div>  
        <div>
          <label for="email">E-mail:</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div>
          <label for="usuario">Usuário:</label>
          <input type="text" id="usuario" name="usuario" required>
        </div>
        <div>
          <label for="senha">Senha:</label>
          <input type="password" id="senha" name="senha" required>
        </div>
        <div>
          <label for="confirma-senha">Confirmar senha:</label>
          <input type="password" id="confirma-senha" name="confirma-senha" required>
        </div>
        <input type="submit" value="Cadastrar">
      </form>
    </div>
  </div>
  {% include "./footer.html" %}
</body>

</html>