{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Google Maps API</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="../static/css_card_map/style.css">
</head>
{% include "./header.html" %}
<body>
  <div class="row">
    <div class="column">
      {% if dados %}
      <h1>Junte-se à Instituição {{ dados.nome_instituicao }} na luta contra a fome!</h1>
      <br>
      <br>
      <p>{{ dados.descricao }}</p>
    </div>
    <div class="column">
      <h1>Dados para Doações</h1>
      <br>
      <br>
      <p>PIX - {{ dados.cnpj }}</p>
      {% endif %}
      <p>Depósito Bancário:</p>
      <p>Agência: 0001</p>
      <p>C/C: 012458-7</p>
      <p>Banco do Brasil</p>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <h1>Localização</h1>
      <br>
      <br>
      <div class='column-map'> 
        <div id="map-container">
          <div id="map"></div>
        </div>
      </div>
      <div>
        <p hidden>Latitude: <span hidden id="lat">{{ latitude }}</span></p>
        <p hidden>Longitude: <span hidden id="lon">{{ longitude }}</span></p>
      </div>
      {% block javascript %}
      <script src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&callback=initMap" async defer></script>
      <script src="{% static 'js/load_map.js' %}"></script>
      {% endblock %}
    </div>
    <div class="column">
      <h1>Voluntariado</h1>
      <br>
      <br>
      {% if dados %}
      <ul>
        <li>
          <p>{{ dados.forma_ajuda1 }}</p>
        </li>
        <br>
        <li>
          <p>{{ dados.forma_ajuda2 }}</p>
        </li>
        <br>
        <li>
          <p>{{ dados.forma_ajuda3 }}</p>
        </li>
        <br>
        {% endif %}
        <li>
          <p>Cadastre-se no site e entraremos em contato!</p>
        </li>
      </ul>  
    </div>
  </div>
</body>
</html>