<!DOCTYPE html>
<html>
  <head>
    <title>Cadastrar Endereço</title>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <form action=" {% url 'cep' %} " method="POST">{% csrf_token %}
      <h1>Cadastrar Endereço</h1>
      <div>
        <label>CEP:</label>
        <input id="cep" name="cep" class="form-input">
        <button type="submit" onclick="buscar_endereco()" class="submit-button">Buscar Endereço</button>
      </div>
      <div>
        <label>Rua:</label>
        <input id="rua" class="form-input">
      </div>
      <div>
        <label>Bairro:</label>
        <input id="bairro" class="form-input">
      </div>
      <div>
        <label>Cidade:</label>
        <input id="cidade" class="form-input">
      </div>
      <button type="submit" class="submit-button">Cadastrar</button>
    </form>
  </body>
</html>