{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css_detalhes_instituicao/style.css' %}">
  <title>Detalhes Instituição</title>
</head>
<body>
  {% include "./header.html" %}
  <div class="conteudo">
    <div class="row-form">
      <div class="container">
        <h1>Dados Instituição</h1>
        <form  action="{% url 'detalhe-instituicao' %}" method="POST">{% csrf_token %}
          {% if dados %}
          <div>
            <label for="nome-instituicao">Nome da Instituição:</label>
            <input type="text" id="nome-instituicao" name="nome-instituicao" required value=" {{ dados.nome_instituicao }} "> 
          </div>
          <div class="form-row">
            <div class="row-cep">
              <label for="cep">CEP:</label>
              <input type="text" id="cep" name="cep" value="{{ dados.cep }}">
            </div>
            <div class="row-rua">
              <label for="rua">Rua:</label>
              <input type="text" id="rua" name="rua" value="{{ dados.rua }}">
            </div>
            <div class="row-numero">
              <label for="numero">Número:</label>
              <input type="text" id="numero" name="numero" value="{{ dados.num }}">
            </div>
          </div>
          <div class="form-row">
            <div class="row-bairro">
              <label for="bairro">Bairro:</label>
              <input type="text" id="bairro" name="bairro" value="{{ dados.bairro }}">
            </div>
            <div class="row-cidade">
              <label for="cidade">Cidade:</label>
              <input type="text" id="cidade" name="cidade" value="{{ dados.cidade }}">
            </div>
            <div class="row-complemento">
              <label for="complemento">Complemento:</label>
              <input type="text" id="complemento" name="complemento">
            </div>
            <div class="row-estado">
              <label for="estado">Estado:</label>
              <input type="text" id="estado" name="estado" value="{{ dados.estado }}">
            </div>
          </div>
          <div class="form-row">
            <div class="row-telefone">
              <label for="telefone">Telefone:</label>
              <input type="text" id="telefone" name="telefone">
            </div>
            <div class="row-celular">
              <label for="celular">Celular:</label>
              <input type="text" id="celular" name="celular">
            </div>
            <div class="whatsapp">
              <label for="whatsapp">WhatsApp:</label><br>
              <label class="toggle-container">
                <input type="checkbox" name="alternancia">
                <span class="toggle-slider"></span>
              </label>
            </div>
          </div>
          <div>
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required value=" {{ dados.email }} ">
          </div>
          <div>
            <label for="cnpj">CNPJ:</label>
            <input type="text" id="cnpj" name="cnpj" required value="{{ dados.cnpj }}">
          </div>
          <div>
            <label for="cnpj">usuario:</label>
            <input type="text" id="usuario" name="usuario" required value="{{ dados.usuario }}">
          </div>
          <div>
            <label for="cnpj">senha:</label>
            <input type="text" id="senha" name="senha" required value="{{ dados.senha }}">
          </div>
          <div>
            <label for="descreva">Descreva a Instituição - (Máximo 250 caracteres)</label><br>
            <textarea id="descreva" name="descreva" maxlength="250" rows="4" cols="100"></textarea>
          </div>
          <br>
          <div>
            <label for="doacao1">Descreva a 1º forma que o público pode ajudar a Instituição</label>
            <input type="text" id="doacao1" name="doacao1">
          </div>
          <div>
            <label for="doacao2">Descreva a 2º forma que o público pode ajudar a Instituição</label>
            <input type="text" id="doacao2" name="doacao2">
          </div>
          <div>
            <label for="doacao3">Descreva a 3º forma que o público pode ajudar a Instituição</label>
            <input type="text" id="doacao3" name="doacao3">
          </div>
          <input type="submit" value="Salvar Dados">
          {% endif %}
        </form>
      </div>
    </div>
  </div>   
  {% include "./footer.html" %}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</html>
