{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css_home_usuario/style.css' %}">
  <link rel="stylesheet" href="{% static 'css_header/style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <title>Home do Usuário</title>

</head>

<body>
  <header class="main-header">
    <h1 class="main-header__title">
      <a href="#">
        <img class="logo" src="{% static 'assets/esboco.svg' %}" alt="">
      </a>
    </h1>
    <div class="container-menu">
      <nav class="main-header__menu">
        <ul class="flex-container">
          <li>
            <a href="{% url 'index' %}" class="nav-link">Home</a>
          </li>
          <li>
            <a href="{% url 'instituicoes' %}" class="nav-link">Instituições</a>
          </li>
          <li>
            <a href="{% url 'cadastro-instituicao' %}" class="nav-link flex-item">Cadastro</a>
          </li>
          <li>
            <a href="#sobre" class="nav-link flex-item">Sobre</a>
          </li>
          <li>
            <a href="{% url 'contato' %}" class="nav-link flex-item">Contato</a>
          </li>
          <li>
            <div class="checkbox-container">
              <div class="checkbox-wrapper">
                <input type="checkbox" id="toggle">
                <label class="checkbox" for="toggle">
                  <div class="trace"></div>
                  <div class="trace"></div>
                  <div class="trace"></div>
                </label>
                <div class="menu"></div>
                <nav class="menu-itens">
                  <ul>
                    <li>
                      <a href="{% url 'login' %}">Login</a>
                    </li>
                    <li>
                      <a href="#">Edit</a>
                    </li>
                    <li>
                      <a href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% block javascript %}
                    {% if messages %}
                    {% for message in messages %}
                    <script>
                      alert('{{ message }}')
                    </script>
                    {% endfor %}
                    {% endif %}
                    {% endblock %}
                  </ul>
                </nav>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="conteudo">
    <form action="{% url 'home-usuario' %}" method="POST">{% csrf_token %}
      <h1 class="title-usuario">Conheça e contribua com nosso projeto, ajude pessoas e salve vidas!!!</h1>
      <br>

      <iframe style="border-radius:5px" src="https://www.youtube.com/embed/tQER4aVHdqc" width="50%" height="420"
        frameBorder="10" allowfullscreen title="Combate a Fome"
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      <div class="content">
        <div class="column-one">
          <p> As doações de alimentos são uma das formas mais eficazes de ajudar a combater a fome em nossa comunidade.
            <br>
            Infelizmente, muitas pessoas em nossa sociedade ainda sofrem de insegurança alimentar e não têm acesso a
            alimentos nutritivos e saudáveis.
            É por isso que é tão importante contribuir com doações de alimentos sempre que possível. <br><br>
          </p>

          <p> Ao fazer uma doação de alimentos, você está ajudando a fornecer uma refeição para uma pessoa faminta.
            Pode não parecer muito, mas uma única doação pode fazer uma enorme diferença na vida de alguém que está
            lutando
            para sobreviver.
            Além disso, muitas organizações sem fins lucrativos que aceitam doações de alimentos distribuem os alimentos
            para famílias de baixa renda, abrigos para desabrigados e
            outras instituições que ajudam a comunidade. <br><br>
          </p>
        </div>

        <div class="column-two">
          <p> Contribuir com doações de alimentos é uma forma de exercer empatia e solidariedade.
            Imagine estar em uma situação em que você ou sua família estão sem comida suficiente para se alimentar
            adequadamente.
            Agora imagine como seria se alguém chegasse com uma cesta cheia de alimentos nutritivos para ajudar a
            aliviar
            essa situação.
            Esse ato de generosidade e bondade pode fazer uma grande diferença na vida das pessoas. <br><br>
          </p>
          <p> Além disso, contribuir com doações de alimentos é uma forma de ajudar a combater o desperdício de
            alimentos.
            Infelizmente, muitos alimentos ainda são desperdiçados em nossa sociedade,
            enquanto muitas pessoas ainda passam fome. Ao fazer uma doação de alimentos, você está ajudando a reduzir o
            desperdício e a redistribuir alimentos para aqueles que realmente precisam. <br><br>
          </p>
        </div>
        <div class="column-three">
          <p> Portanto, se você está procurando uma forma de ajudar a combater a fome em nossa comunidade, considere
            fazer
            uma doação de alimentos.
            Cada doação, por menor que seja, pode fazer uma grande diferença na vida de alguém. Vamos trabalhar juntos
            para
            ajudar a tornar o mundo um lugar melhor e mais justo para todos. <br><br>
          </p>
        </div>
      </div>
  </div>
  <h1 class="texto_colabora">Contribua conosco e com pessoas ao redor de você! </h1>

  <div class="content">
    <br>
    <a class="btn_quero_doar" href="{% url 'instituicoes' %}">Quero Colaborar</a>
    <br>
  </div>
  </form>

  </div>
  {% include "./footer.html" %}

</body>

</html>