<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="../static/css/style_home.css">
</head>
  <body></body>
    <header> 
      <form>
        <a href="login"><button type="button" class="form-input">Sair</button></a>
        <br>
          <h1>Conheça nosso projeto</h1>
      </form>
    </header>

    <h3>
      <p>A fome é um problema que afeta milhões de pessoas em todo o mundo, principalmente em regiões com baixo desenvolvimento
          econômico e social. Ela não só compromete a saúde e o bem-estar das pessoas, 
          como também limita o seu potencial de crescimento e desenvolvimento.</p>
      <p>Além disso, a fome também está relacionada a outros problemas sociais, como a pobreza,
           a desigualdade e a exclusão social. Pessoas que passam fome têm mais dificuldade em ter acesso à educação, 
           saúde e outras necessidades básicas, o que perpetua um ciclo de pobreza e exclusão social.</p>
      <p>Por isso, é fundamental que sejam implementadas políticas públicas e ações que visem o combate à fome. Isso inclui o
         fortalecimento de programas de distribuição de alimentos, a promoção de ações de combate à pobreza e à desigualdade,
         além de iniciativas que estimulem o desenvolvimento econômico e social das regiões mais vulneráveis.</p>
      <p>Além disso, a conscientização da sociedade em geral também é essencial para o combate à fome.
          É importante que as pessoas compreendam a gravidade do problema e se mobilizem para apoiar iniciativas que visem a
          erradicação da fome e a promoção da justiça social.</p>
      <p>Em suma, o combate à fome é uma questão de justiça social e de garantia dos direitos humanos básicos. É preciso que governos, organizações e a sociedade em geral se unam em prol desse objetivo, para que todos possam ter acesso a uma vida digna e plena.</p>
    </h3>
 

        <footer>
          <nav>
            <ul>
              <li><a href="https://github.com/Klayvert2003/PI_3Semestre_2023">Sobre Nós</a></li>
              <li><a href="https://github.com/Klayvert2003/PI_3Semestre_2023">Contato</a></li>
            </ul>
          </nav>
        </footer>      
  </body>
</html>

    