{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Quem Eu Sou???</title>
</head>

<body>
  {% include "./header.html" %}
  <link rel="stylesheet" href="{% static 'css_index/style.css' %}">
  <div class="conteudo">
    <h1 class="text-title">Contribua como:</h1>
    <br>
    <div class="botoes">
      <div class="button-group">
        <a href="{% url 'home-instituicao' %}" class="btn-index">Instituição</a>
        <a href="{% url 'home-usuario' %}" class="btn-index">Doador/Voluntário</a>
      </div>
    </div>
  </div>   
  {% include "./footer.html" %}
</body>
</html>