{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css_informacao_cadastro/style_Informacao.css' %}">
	<title>Detalhes Usuário</title>
</head>

<body>
	{% include "./header.html" %}
	<div class="conteudo">
		<div class="row-form">
			<div class="container">
				<h1>Dados Usuário</h1>
				<form action="{% url 'detalhe-usuario' %}" method="POST">{% csrf_token %}
					<div>
						<label for="nome-completo">Nome do Usuário:</label>
						<input type="text" id="nome-completo" name="nome-completo" required
							value="{{ dados.nome_completo }}">
					</div>
					<div class="form-row">
						<div class="row-cep">
							<label for="cep">CEP:</label>
							<input type="text" id="cep" name="cep" value="{{ dados.cep }}">
						</div>
						<div class="row-rua">
							<label for="rua">Rua:</label>
							<input type="text" id="rua" name="rua" value="{{ dados.rua }}">
						</div>
						<div class="row-numero">
							<label for="numero">Número:</label>
							<input type="text" id="numero" name="numero" value="{{ dados.num }}">
						</div>
					</div>
					<div class="form-row">
						<div class="row-bairro">
							<label for="bairro">Bairro:</label>
							<input type="text" id="bairro" name="bairro" value="{{ dados.bairro }}">
						</div>
						<div class="row-cidade">
							<label for="cidade">Cidade:</label>
							<input type="text" id="cidade" name="cidade" value="{{ dados.cidade }}">
						</div>
						<div class="row-complemento">
							<label for="complemento">Complemento:</label>
							<input type="text" id="complemento" name="complemento">
						</div>
						<div class="row-estado">
							<label for="estado">Estado:</label>
							<input type="text" id="estado" name="estado" value="{{ dados.estado }}">
						</div>
					</div>
					<div class="form-row">
						<div class="row-telefone">
							<label for="telefone">Telefone:</label>
							<input type="text" id="telefone" name="telefone">
						</div>
						<div class="row-celular">
							<label for="celular">Celular:</label>
							<input type="text" id="celular" name="celular">
						</div>
						<div class="whatsapp">
							<label for="whatsapp">WhatsApp:</label><br>
							<label class="toggle-container">
								<input type="checkbox" name="alternancia">
								<span class="toggle-slider"></span>
							</label>
						</div>
					</div>
					<div>
						<label for="descreva">Fale sobre você - (Máximo 250 caracteres)</label><br>
						<textarea id="descreva" name="descreva" maxlength="250" rows="4" cols="100"></textarea>
					</div>
					<br>
					<div>
						<h2 class="disponibilidade">Informe sua disponibilidade</h2>
						<br>
						<div class="div-disponibilidade">
							<table class="disp-table">
								<thead>
									<tr>
										<th>Dia da Semana</th>
										<th>Manhã</th>
										<th>Tarde</th>
										<th>Noite</th>
									</tr>
								</thead>
								<tbody type="checkbox">
									<tr>
										<td>Segunda-feira</td>
										<td><input type="checkbox" name="segunda_manha" id="segunda_manha"></td>
										<td><input type="checkbox" name="segunda_tarde" id="segunda_tarde"></td>
										<td><input type="checkbox" name="segunda_noite" id="segunda_noite"></td>
									</tr>
									<tr>
										<td>Terça-feira</td>
										<td><input type="checkbox" name="terca_manha" id="terca_manha"></td>
										<td><input type="checkbox" name="terca_tarde" id="terca_tarde"></td>
										<td><input type="checkbox" name="terca_noite" id="terca_noite"></td>
									</tr>
									<tr>
										<td>Quarta-feira</td>
										<td><input type="checkbox" name="quarta_manha" id="quarta_manha"></td>
										<td><input type="checkbox" name="quarta_tarde" id="quarta_tarde"></td>
										<td><input type="checkbox" name="quarta_noite" id="quarta_noite"></td>
									</tr>
									<tr>
										<td>Quinta-feira</td>
										<td><input type="checkbox" name="quinta_manha" id="quinta_manha"></td>
										<td><input type="checkbox" name="quinta_tarde" id="quinta_tarde"></td>
										<td><input type="checkbox" name="quinta_noite" id="quinta_noite"></td>
									</tr>
									<tr>
										<td>Sexta-feira</td>
										<td><input type="checkbox" name="sexta_manha" id="sexta_manha"></td>
										<td><input type="checkbox" name="sexta_tarde" id="sexta_tarde"></td>
										<td><input type="checkbox" name="sexta_noite" id="sexta_noite"></td>
									</tr>
									<tr>
										<td>Sábado</td>
										<td><input type="checkbox" name="sabado_manha" id="sabado_manha"></td>
										<td><input type="checkbox" name="sabado_tarde" id="sabado_tarde"></td>
										<td><input type="checkbox" name="sabado_noite" id="sabado_noite"></td>
									</tr>
									<tr>
										<td>Domingo</td>
										<td><input type="checkbox" name="domingo_manha" id="domingo_manha"></td>
										<td><input type="checkbox" name="domingo_tarde" id="domingo_tarde"></td>
										<td><input type="checkbox" name="domingo_noite" id="domingo_noite"></td>
									</tr>
								</tbody>
							</table>
							<div class="disp-info">
								<h4>Info:</h4>
								<ul>
									<li>
										<p>Manhã das 9h às 12:30h</p>
									</li>
									<li>
										<p>Tarde das 13h às 18h</p>
									</li>
									<li>
										<p>Noite das 20:30h às 00h</p>
									</li>
								</ul>
								<br>								
								<p>Os horários acimas são apenas para referência a instituição 
									entrará em contato para informar os horários necessários</p>
							</div>
						</div>
					</div>
					<input type="submit" value="Cadastrar Dados">
				</form>
			</div>
		</div>
	</div>
	{% include "./footer.html" %}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</html>