<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- ajustar o caminho certo da pasta, caso a página esteja sem layout -->
	<link rel="stylesheet" type="text/css" href="../static/css_informacao_cadastro/style_Informacao.css">
    <title>Informações de usuário</title>
</head>
<body>
	<!-- colocar a logo certa -->
	<img src="../static/assets/fome.jpeg" alt="Logotipo" style="width: 42vh; height: 22vh;">
<nav>
	<ul>
		<li>
			<a href="#home">Home</a>
		</li>
		<li>
			<a href="#instituicoes">Instituições</a>
		</li>
		<li>
			<a href="#sobre">Sobre nós</a>
		</li>
		<li>
			<a href="#contato">Contato</a>
		</li>
	</ul>
</nav>

<br>
<br>
<br> 
<hr>

<h1>Informações de Usuário</h1>
	<table>
		<thead>
			<tr>
				<th>Nome</th>
				<th>Sobrenome</th>
				<th>E-mail</th>
			</tr>
		</thead>
		<tbody>
<!-- DADOS SERÃO ADICIONADOS AQUI PELO CÓDIGO QUE IRÁ CONSULTAR O BANCO. -->
			<tr>
				<td>Pedro</td>
				<td>Marques</td>
				<td>Pedro@Marques</td>
			</tr>
			<tr>
				<td><!--Nome--></td>
				<td><!--Sobrenome--></td>
				<td><!--E-mail--></td>
			</tr>
            <tr>
				<td><!--Nome--></td>
				<td><!--Sobrenome--></td>
				<td><!--E-mail--></td>
			</tr>
		</tbody>
	</table>
</body>
</html>