{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css_lista_contato/style.css' %}">
  <title>Lista de Contatos</title>
</head>
<body>
  {% include "./header_copy.html" %}
  <div class="conteudo">
    <h1>Lista de Contatos</h1>
    <br>

    <table class="contatos-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Disponibilidades</th>
          <th>Contato</th>
        </tr>
      </thead>
      <tbody>
        {% for contato in contatos %}
          <tr>
            <td>{{ contato.nome_usuario }}</td>
            <td>
              <ul>
                <li>{{ contato.periodo_disponivel }}</li>
              </ul>
            </td>
            <td>{{ contato.email }} {{ contato.cel }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
  {% include "./footer.html" %}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</html>
