<!DOCTYPE html>
<html>
  <head>
    <title>Tela de Login</title>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <form action=" {% url 'login' %} " method="POST">{% csrf_token %}
      <h1>Login</h1>
      <div>
        <label for="username">Usuário:</label>
        <input type="text" id="username" name="username" class="form-input">
      </div>
      <div>
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" class="form-input">
      </div>
        <a href="cadastro"><button type="button" class="form-input">Não possuo um Cadastro</button></a>
        <button type="submit" formaction="home" class="form-input">Entrar</button>
    </form>

    <footer>
      <nav>
        <ul>
          <li><a href="https://github.com/Klayvert2003/PI_3Semestre_2023">Sobre Nós</a></li>
          <li><a href="https://github.com/Klayvert2003/PI_3Semestre_2023">Contato</a></li>
        </ul>
      </nav>
    </footer>  
  </body>
</html>