{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css_lp_instituicao/style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <title>Bem-vindo</title>

</head>

<body>
  {% include "./header.html" %}
  <div class="conteudo">
    <div class="conteudoinicial">
      <h1 class="titleh1 ">Ajude-nos a alimentar aqueles que mais precisam: participe do nosso projeto social agora!
      </h1>
      <section>
        <div><a class="btn btn-warning" href="{% url 'cadastro-instituicao' %}">SE ASSOCIE, JUNTOS SOMOS A
            ESPERANÇA</a></div>
      </section>
    </div>

    <br class="mbtext">
    <br class="mbtext">

    <div>
      <h1 class="titleshort">Alimentação básica para aqueles que mais precisam!</h1>
    </div>
    <br class="mbtext">

    <div class="container-cards">
      <div class="card">
        <div class="card-header">
          <img src="{% static 'assets/aperto_mao.png' %}" alt="Solidariedade">
        </div>
        <div class="card-body-one">
          <p>Nós acreditamos que todos merecem uma refeição nutritiva e acessível. É por isso que
            estamos buscando o apoio de instituições que
            desejam se juntar a nós nessa causa tão importante.</p>
        </div>
        <div class="card-footer">
          <a href="{% url 'cadastro-instituicao' %}">ASSOCIE-SE</a>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <img src="{% static 'assets/cesta_brasil.png' %}" alt="Solidariedade">
        </div>
        <div class="card-body">
          <p>Nosso projeto funciona através de doações de alimentos e recursos financeiros. Com o apoio
            de instituições, conseguimos alcançar mais pessoas e oferecer uma alimentação digna e saudável.
            Ao participar do nosso projeto, as instituições estarão ajudando a transformar a vida de muitas
            pessoas em nosso país.</p>
        </div>
        <div class="card-footer">
          <a href="{% url 'cadastro-instituicao' %}">ASSOCIE-SE</a>
        </div>
      </div>

    </div>

    <br class="mbtext">
    <br class="mbtext">
    <br class="mbtext">

    <div class="clear-both">
      <div class="paragraph-container">
        <p class="paragraph">Nosso projeto tem como objetivo fornecer refeições básicas para pessoas em situação
          de
          vulnerabilidade social.
          Além disso, nossas ações têm como meta conscientizar a sociedade sobre a importância de fornecer acesso à
          alimentação básica para todos. Desde o início do projeto, já conseguimos distribuir mais de 10.000
          cestas e
          esperamos continuar ampliando nosso impacto.</p>
      </div>
    </div>
    <br class="mbtext">
    <div>
      <img src="{% static 'assets/cesta_doacao.png' %}" alt="">
    </div>

  </div>

  <br class="mbtext">

  {% include "./footer.html" %}

</body>

</html>